.DailyTitle {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 50px;
  }
  .titleChart {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
  }
  .recharts-legend-item-text {
    font-size: 14px;
    font-weight: 500;
  }
  
  .Daily{
    margin-top: 100px;
    background: #FBFBFB;
    margin-bottom: 20px;

  }
  
  .recharts-legend-item {
    fill: black !important;
    color:black;
  }
  .recharts-legend-item-text[name="Calories brûlées (kcal)"] {
    color: black;
  }

  path[name="Calories brûlées (kcal)"] {
    fill: red;
}
.recharts-legend-item.legend-item-1 path{
  fill:red;
}


.recharts-tooltip-wrapper {
  pointer-events: none;
  visibility: visible !important;
display:flex;
}

.daily-custom-tooltip {
  background-color: red;
  font-size: 14px;
  line-height: 1.5;
  color:white;
  width: 39px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-around;
}


 .tooltip-value {
  writing-mode: horizontal-tb;
  background-color: red;
  font-size: 7px;
  font-weight:500;
}
.label{
  display:flex;
  flex-direction: column;
}