.DailyTitle {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 50px;
}

.titleChart {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.recharts-legend-item-text {
  font-size: 14px;
  font-weight: 500;
  color: black !important;
}

.Daily {
  margin-top: 100px;
  margin-bottom: 20px;
  background: transparent;
}

.recharts-legend-item {
  fill: black !important;
  color: black ! important;
}

path[name="Calories brûlées (kcal)"] {
  fill: red;
}

.recharts-legend-item.legend-item-1 path {
  fill: red;
}

.recharts-legend-item-icon[name="Poids (Kg)"] circle {
  fill: black !important;
}

.recharts-cartesian-grid-horizontal line:hover {
  stroke: rgba(23, 183, 66, 0.5);
  stroke-width: 100%;
  pointer-events: all;
}

.DailyGrid line {
  stroke-width: 100%;
}

.DailyXAxis .recharts-cartesian-axis-tick-value {
  font-size: 12px;
  font-weight: 500;
  color: black;
  fill: black;
}

.recharts-tooltip-wrapper {
  pointer-events: auto;
  visibility: visible !important;
  display: flex;
  /* border: red !important; */
}

.daily-custom-tooltip {
  background-color: red;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  width: 39px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  stroke:red;
  /* border: red !important; */
  
}

.recharts-tooltip-wrapper {
  border: none !important;
}
.tooltip-value {
  writing-mode: horizontal-tb;
  background-color: red;
  font-size: 7px;
  font-weight: 500;
}

.label {
  display: flex;
  flex-direction: column;
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recharts-legend-wrapper {
  margin-top: 20px;
}

.Daily .recharts-cartesian-grid-horizontal line:not(:last-of-type):not(:nth-of-type(4)) {
  stroke: rgba(196, 196, 196, 0.5) !important;
}

/* resize and style the recharts-tooltip-cursor */
.recharts-tooltip-cursor {
  fill: rgba(196, 196, 196, 0.5)! important;
  stroke-width: 2px;
  pointer-events: none;
  stroke: transparent!important;
}