.Calory_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 124px;
    padding: 0 20px;
}
.Cal{
  padding-right: 24px;
}
.Calory_Button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.Calory_Button img {
    width: 15.8px;
    height: 20px;
  }
  .Calory_Number{
    
    margin-left: 24px;

  }
   .kcal {
    font-size: 20px;
    font-weight: 700;
  }
  
  .calories {
    font-size: 14px;
font-weight: 500;   }
  