

.Session {
  background-color: red;
  width:268px;
  height: 268px;
}
/* 
.SessionLengthChart line,
.SessionLengthChart path {
  stroke: white;
} */
.sessionTitle{
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: start;
  opacity: 0.5;
  position: relative;
  top:20px;
  left: 15px;

}
.recharts-cartesian-grid-horizontal line {
  stroke: none;
}

.SessionLengthChart .recharts-cartesian-grid-vertical line {
  display: none;
}
.CartesianGrid-horizontal line {
  stroke: red;
}
.recharts-tooltip-cursor {
  display: none;
}
