.loading{
color:green;
background-color: crimson;
}
.GreetingContainer {
    margin-left: 0;
    margin-right: 107px;
  }
  
.hello{
    color:black;
}
.firstName{
    color:  #FF0101;
    font-size: 48px;
    
}
.userGreetingMessage{
    color: red;
}
h2{
font-size: 18px;
}