.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 2;
  position: relative;
  height: 91px;
  width: 100%; /* Change the fixed width to a relative width */
  padding: 0 10px; /* Add padding to the sides */
}

.header-logo {
  width: 178px;
  padding-left:30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: calc(100% - 178px - 20px); /* Subtract logo width and padding */
  padding-left: 10px; /* Add padding between logo and nav items */
}

.header-accueil,
.header-about,
.header-services,
.header-contact {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}
.header-accueil a,
.header-about a,
.header-services a,
.header-contact a {
  color: white;
  text-decoration: none;
  
  font-size:24px;
}
/* Add media queries for responsiveness */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-container {
    flex-wrap: wrap; /* Wrap the items when there's not enough space */
  }
  
  .header-nav {
    width: 100%; /* Set nav items to 100% width */
    padding-left: 0; /* Remove padding between logo and nav items */
  }
  
  .header-logo {
  
    order: -1; /* Make sure the logo is always on top */
  }
}
