

.Perf .recharts-polar-angle-axis-tick-value tspan {
  font-size: 14px;
}
.polar-grid {
  width: 55px!important;
  height: 55px!important;
  
  fill-opacity: 0.8;
}
.recharts-polar-grid-angle{
  width: 80px;
  height: 80px;
}
.recharts-polar-grid path {
  stroke-width: 1px;
  opacity: 0.3;
}

svg > path:nth-of-type(1) {
  fill:black;
}

.recharts-polar-grid path {
  stroke-width: 1px;
  opacity: 1;
}

