

.Perf .recharts-polar-angle-axis-tick-value tspan {
  fill: red;
  font-size: 14px;
}
.polar-grid {
  width: 55px!important;
  height: 55px!important;
  fill: rgb(16, 39, 216);
  color:rgb(16, 39, 216);
  fill-opacity: 0.3;
}
.recharts-polar-grid-angle{
  width: 80px;
  height: 80px;
}
.recharts-polar-grid path {
  stroke-width: 1px;
  opacity: 0.3;
}
